h1{ 
    padding: 20px;
    color: rgb(238, 234, 32);
    border-top: 0px;
    margin:0;
    background-color: rgb(142, 23, 240);
    font-family: 'Times New Roman';
    
}

body{
    margin: 0px;
    padding: 0px;

}

table{
    border: 2px;
    color: black;
    margin:0px;
    border:0px;
    font-size: 25px;
    font-family: cursive;
   
    
}



td{
    text-align: center ;
    width: 200px;
    height: 50px;
    color: black;
    
}